<style>

@font-face {
    font-family: 'aces04';
    src: url("../../electrosphere/assets/font/ACES04.ttf");
}
@font-face {
    font-family: 'aces04_heavy';
    src: url("../../electrosphere/assets/font/ACES04_Heavy.ttf");
}
@font-face {
    font-family: 'aces07';
    font-family: 'ACES07_Regular';
    src: url("../../electrosphere/assets/font/ACES07_Regular.ttf");
}
@font-face {
    font-family: 'vxrockethalf';
    src: url("../../electrosphere/assets/font/vx_rocket_grad/vxrockethalf1_1.ttf");
}
@font-face {
    font-family: 'interstate-bold';
    src: url("../../electrosphere/assets/font/Interstate-Bold.ttf");
}
@font-face {
    font-family: 'machinepro';
    src: url("../../electrosphere/assets/font/MachinePro.otf");
}
@font-face {
    font-family: 'plex';
    src: url("../../electrosphere/assets/font/Plexiglass.ttf");
}
@font-face {
    font-family: 'hack-bold';
    src: url("../../electrosphere/assets/font/Hack-Bold.ttf");
}
@font-face {
    font-family: 'block';
    src: url("../../electrosphere/assets/font/FlowBlock-Regular.ttf");
}
@font-face {
    font-family: 'handelgo';
    src: url("../../electrosphere/assets/font/HandelGo.ttf");
}
@font-face {
    font-family: 'handelgothic';
    src: url("../../electrosphere/assets/font/HandelGothic-Regular.ttf");
}
@font-face {
	font-family: 'BankGothicMediumBT';
	src: url("../../electrosphere/assets/font/BankGothicMediumBT.ttf");
}
@font-face {
	font-family: 'BankGothic Bold';
	src: url("../../electrosphere/assets/font/BankGothic Bold.ttf");
}
@font=face {
	font-family: 'Days1';
	src: url("../../electrosphere/assets/font/DaysOne-Regular.ttf");
}

body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}
}
p {
    font-family: hack-bold;
    color: rgb(255, 178, 127);
}
h1 {
    font-family: aces04_heavy;
    color: rgb(80, 214, 255);
    outline-width: 3px;
    outline-style: dashed;
    outline-color: #1C6EA4;
    outline-offset: 5px;
}
h2 {
	font-family: handelgothic;
    color: rgb(255, 178, 127)
	}
h3 {
    font-family: BankGothic Bold;
    color: #cfceb7;
}   
h4 {
	font-family: BankGothicMediumBT;
	font-size: 1.75em;
	color: #8CC3FF;
}
#nav {

a:hover {
    text-decoration: none;
    color: blue;
    background-color: deepskyblue;
    opacity: 35%;
    border-style: dotted;
    border-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: aqua;
}
a:link {
    color:rgb(255, 208, 0)
}

a:visited {
    color:rgb(255, 178, 127)
}
</style>
