<style>

@font-face {
    font-family: 'aces04';
    src: url("../../electrosphere/assets/font/ACES04.ttf")
}
@font-face {
    font-family: 'aces04_heavy';
    src: url(../../electrosphere/assets/font/ACES04_Heavy.ttf)
}
@font-face {
    font-family: 'aces07';
    font-family: 'ACES07_Regular';
    src: url("../../electrosphere/assets/font/ACES07_Regular.ttf")
}
@font-face {
    font-family: '40';
    src: url(../../electrosphere/assets/font/RebelTypeDog-Regular.otf)
}
@font-face {
    font-family: 'vxrockethalf';
    src: url(../../electrosphere/assets/font/vx_rocket_grad/vxrockethalf1_1.ttf)
}
@font-face {
    font-family: 'interstate-bold';
    src: url(../../electrosphere/assets/font/Interstate-Bold.ttf)
}
@font-face {
    font-family: 'machinepro';
    src: url(../../electrosphere/assets/font/MachinePro.otf)
}
@font-face {
    font-family: 'plex';
    src: url(../../electrosphere/assets/font/Plexiglass.ttf)
}
@font-face {
    font-family: 'hack-bold';
    src: url(../../electrosphere/assets/font/Hack-Bold.ttf)
}
@font-face {
    font-family: 'block';
    src: url(../../electrosphere/assets/font/FlowBlock-Regular.ttf)
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: ;
}
.flex-container > div {
    background-color: ;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
p.jam { /*Marquee stuff*/
    font-family: hack-bold;
    color: navajowhite;
    font-size: 1em;
    background-color: rgba(30, 159, 208, 0.5);
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 3.5px;
    padding: 3px;
    width: 97.56%;
    border: 2px blue;
    border-radius: 5px;
}
h2.title { /*Big title*/
        color: rgb(80, 214, 255);
        font-family: handelgothic;
		font-size: 18;
        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        background-color: rgba(135, 207, 235, 0.5);
        padding: 15px;
        width: 96%;
        border: 2px cornflowerblue;
        border-radius: 5px;
}

h1 {
    font-family: hack-bold;
    color: rgb(80, 214, 255);
    outline-width: 3px;
    outline-style: dashed;
    outline-color: #1C6EA4;
    outline-offset: 5px;
}

#nav {
    text-align: center;
}

#splash {
    position: relative;
    margin: auto;
    outline: 3px dotted rgba(28,110,164,0.54);
    outline-offset: 5px;
    width: 44%;
    
}
#splashleft {
    position: absolute;
    float: left;
    outline: 3px dotted rgba(28,110,164,0.54);
    outline-offset: 5px;
    width: 30%;
    height: 500px;
    top: -245px;
    left: 5px;

}
#splashright {
    text-align: right;
    position: absolute;
    float: right;
    outline: 3px dotted rgba(28,110,164,0.54);
    outline-offset: 5px;
    width: 30%;
    height: 500px;
    top: -245px;
    right: 5px;
}
#splashtwo {
    position: relative;
    margin: auto;
    outline: 3px dotted rgba(28,110,164,0.54);
    outline-offset: 5px;
    width: 44%; 
}

a:link {
    color:aqua
}

a:visited {
    color:aquamarine
}
</style>