<style>

* {
  box-sizing: border-box;
}

@font-face {
    font-family: 'aces04';
    src: url("../../neocities-electrosphere/assets/font/ACES04.ttf")
}
@font-face {
    font-family: 'aces04_heavy';
    src: url("../../neocities-electrosphere/assets/font/ACES04_Heavy.ttf")
}
@font-face {
    font-family: 'aces07';
    src: url("../../neocities-electrosphere/assets/font/ACES07_Regular.ttf")
}
@font-face {
    font-family: '40';
    src: url(../../neocities-electrosphere/assets/font/RebelTypeDog-Regular.otf)
}
@font-face {
    font-family: 'vxrockethalf';
    src: url(../../neocities-electrosphere/assets/font/vx_rocket_grad/vxrockethalf1_1.ttf)
}
@font-face {
    font-family: 'interstate-bold';
    src: url(../../neocities-electrosphere/assets/font/Interstate-Bold.ttf)
}
@font-face {
    font-family: 'machinepro';
    src: url(../../neocities-electrosphere/assets/font/MachinePro.otf)
}
@font-face {
    font-family: 'plex';
    src: url(../../neocities-electrosphere/assets/font/Plexiglass.ttf)
}
@font-face {
    font-family: 'hack-bold';
    src: url(../../neocities-electrosphere/assets/font/Hack-Bold.ttf)
}
@font-face {
    font-family: 'block';
    src: url(../../neocities-electrosphere/assets/font/FlowBlock-Regular.ttf)
}

.ds2 {
    font-family: '40';
    font-size: 1.4em;
    color: azure;
}
.start {
        margin: auto;
        margin-top: 25%;
        text-align: center;
        background-color: dimgrey;
        font-family: 'hack-bold';
        font-size: 1.4em;
        width: 35%;
        height: auto;
        padding: 1px;
        border: 5px solid orange;
        border-radius: 5px;
        box-sizing: border-box;
}
.content {
    color: white;
    float: left;
    text-align: center;
    background-color: black;
    font-family: 'hack-bold';
    width: 23%;
    padding: 1px;
    border: 5px solid orange;
    border-radius: 3px;
    box-sizing: border-box;
}
.start2 {
    font-family: 'block';
    font-size: 1.4em;
    color: orange;
}
.welcome {
        text-align: center;
        font-size: 1.3em;
        background-color: black;
        font-family: 'interstate-bold';
        width: 100%;
        height: auto;
        padding: 10px;
        border: 5px solid orange;
        border-radius: 5px;
        box-sizing: border-box;
}
#ds {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

a:hover {
    text-decoration: none;
    color: blue;
    background-color: deepskyblue;
    opacity: 70%;
    border-style: dotted;
    border-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-color: aqua;
}
        h1 {
            color: coral;
        }
a:link {
    color:aqua
}

a:visited {
    color:aquamarine
}
</style>
