<style> 

@font-face {
    font-family: 'aces04';
    src: url("../../electrosphere/assets/font/ACES04.ttf");
}
@font-face {
    font-family: 'aces04_heavy';
    src: url("../../electrosphere/assets/font/ACES04_Heavy.ttf");
}
@font-face {
    font-family: 'aces07';
    font-family: 'ACES07_Regular';
    src: url("../../electrosphere/assets/font/ACES07_Regular.ttf");
}
@font-face {
    font-family: '40';
    src: url("../../electrosphere/assets/font/RebelTypeDog-Regular.otf");
}
@font-face {
    font-family: 'vxrockethalf';
    src: url("../../electrosphere/assets/font/vx_rocket_grad/vxrockethalf1_1.ttf");
}
@font-face {
    font-family: 'interstate-bold';
    src: url("../../electrosphere/assets/font/Interstate-Bold.ttf");
}
@font-face {
    font-family: 'machinepro';
    src: url("../../electrosphere/assets/font/MachinePro.otf");
}
@font-face {
    font-family: 'plex';
    src: url("../../electrosphere/assets/font/Plexiglass.ttf");
}
@font-face {
    font-family: 'hack-bold';
    src: url("../../electrosphere/assets/font/Hack-Bold.ttf");
}
@font-face {
    font-family: 'block';
    src: url("../../electrosphere/assets/font/FlowBlock-Regular.ttf");
}
@font-face {
    font-family: 'handelgo';
    src: url("../../electrosphere/assets/font/HandelGo.ttf");
}
@font-face {
    font-family: 'handelgothic';
    src: url("../../electrosphere/assets/font/HandelGothic-Regular.ttf");
}
#dir {
    font-family: interstate-bold;
    font-size: 1.5em;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}
.ce {
    font-family: interstate-bold;
    font-size: 1.5em;
    background-color: darkblue;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 5px;
    width: 24%;
    border-style: solid;
    border-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-color: darkcyan;
}
p.jam {
    font-family: handelgo;
    color: navajowhite;
    font-size: 1em;
    background-color: rgba(30, 159, 208, 0.5);
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 3.5px;
    padding: 3px;
    width: 97.5%;
    border: 2px blue;
    border-radius: 5px;
}
h1.title {
        font-family: handelgothic;
		font-size: 18;
        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
        margin-left: 5px;
        background-color: skyblue;
        padding: 15px;
        width: 96%;
        border: 2px cornflowerblue;
        border-radius: 5px;
}
        a {
            color:aquamarine;
        }

        h1 {
            color:ghostwhite;
        }
        
        h2 {
            color:beige;
        }
        h3 {
            color:beige;
        }
        h4 {
            color:beige;
        }
        h5 {
            color:beige;
        }
        h6 {
            color:beige;
        }
        ol {
            color:antiquewhite;
        }
        ul {
            color:antiquewhite;
        }
        p {
            color:antiquewhite;
        }
        dt {
            color:burlywood;
        }
        dd {
            color:burlywood;
    }

a:active {
    color: firebrick;
}

a:hover {
    text-decoration: none;
    color: blue;
    background-color: deepskyblue;
    opacity: 70%;
    border-style: dotted;
    border-width: 3px;
    border-left-width: 3px;
    border-right-width: 3px;
    border-color: aqua;
}

a:link {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

</style>
